body {
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
}

.card {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}

table {
    width: 50vh;
    height: 50vh;
    padding: 0px;
    background-color: white;
    box-shadow: 1px 1px 20px gray;
}

.card td {
    color:black;
}

.card .img {
    width: 100%;
    margin: 0px;
    background-image: url('https://raw.githubusercontent.com/DiscoveryPiscine42Bkk/discovery-piscine-web-for-high-school-10-15-mar-2025-Phufafuhp/refs/heads/main/rush/assets/1740153024103.webp');
    background-position: center;
    background-size: cover;

}